.container{
    margin-top: 100px;
}

.jumbotron{
    background-color: yellow;
    color:black;
    
}

.card{
    margin-right: 2px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 30px;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 2px 2px 2px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0;
}
.footer-address-icon{
    padding-left: 5px;
}

.tab-content{
    padding-top: 10px ;
}

.tabla-botones{
    padding-top: 10px;
    text-align: center;
}